{% extends 'base.html.twig' %}

{% block title %}IT - Solutions{% endblock %}

{% block content_header %}
<section class="container grid-lg">
    <h1>Попрощайся</h1>
    <h2>с плохими решениями</h2>
    <p>Друг, если ты читаешь это, значит мы вместе на пути к хорошим решениям. Я рад, что ты здесь <i class="fa fa-heart-o pulse"></i></p>
</section>
{% endblock %}

{% block content %}
<section class="posts-section">
    {# <h2 class="section-title">Последние публикации</h2> #}    
    <div class="posts-list">
        {% for post in posts %}
        <article class="post-item fade-in">
            <div class="post-header">
                <h3>
                    <a href="{{ post.url }}">#&nbsp;{{ post.title }}</a>
                </h3>
            </div>
            
            <div class="post-content-wrapper">
                {% if post.quote %}
                <div class="post-quote-section">
                    {% if post.image %}
                    <div class="post-image">
                        <img src="{{ post.image }}" alt="{{ post.title }}" class="post-thumbnail">
                    </div>
                    {% endif %}
                    <div class="post-quote">
                        {{ post.quote | raw }}
                    </div>
                </div>
                {% elseif post.image %}
                <div class="post-image">
                    <img src="{{ post.image }}" alt="{{ post.title }}" class="post-thumbnail">
                </div>
                {% endif %}
                
                <div class="post-excerpt">
                    {{ post.excerpt | raw }}
                    {% if post.shortened %}
                    <a href="{{ post.url }}" class="read-more">{{ read_more }}</a>
                    {% endif %}
                </div>
            </div>
            
            <div class="post-meta">
                <span class="post-date"><i class="fa fa-calendar"></i>&nbsp;{{ post.date | date('d.m.Y') }}</span>
            </div>
        </article>
        {% endfor %}
    </div>
</section> 
{% endblock %} 